services:
  app:
    image: docker.getoutline.com/outlinewiki/outline:0.79.1
    env_file: ./outline.env
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ host_node }}

  redis:
    image: redis
    command: ["redis-server"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 30s
      retries: 3
    networks:
      - d4g-internal
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == {{ host_node }}

networks:
  d4g-internal:
    external: true
