services:
  app:
    image: kalisio/kano:prod
    env_file: ./kano.env
    volumes:
      - type: bind
        source: ./my-layers.cjs
        target: /opt/kalisio/kano/api/config/layers/my-layers.cjs
      - type: bind
        source: ./local-kano.cjs
        target: /opt/kalisio/kano/api/config/local.cjs
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}
  mongodb:
    image: mongo:4.2
    volumes:
      - /opt/d4g-kano/data/mongodb:/data/db
    networks:
      - d4g-internal
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true
