#!/usr/bin/env bash
APP_SECRET={{ lookup('env', 'KANO_APP_SECRET') }}
LAYERS_FILTER=OSM PLAN_IGN CESIUM_ELLIPSOID
#BUILD_NUMBER=
#NODE_APP_INSTANCE=
DB_URL=mongodb://d4g-kano_mongodb:27017/kano
#DATA_DB_URL
#CESIUM_TOKEN=xxx
#MAPILLARY_TOKEN=xxx
DEFAULT_USER_EMAIL=tech@dataforgood.fr
DEFAULT_USER_PASSWORD={{ lookup('env', 'KANO_DEFAULT_USER_PASSWORD') }}
DEBUG=kdk*
