- name: Ensure certificates directory exists
  file:
    path: "{{ le_certs_dir }}"
    state: directory
    mode: "0755"

- name: Clone acme.sh git repo
  git:
    repo: https://github.com/Neilpang/acme.sh.git
    version: 3.1.0
    dest: /root/.acme.sh_install_repo
  register: acme_repo

- name: Configure acme.sh
  command: ./acme.sh --set-default-ca --server letsencrypt -m "{{notification_mail_to}}"
  args:
    chdir: /root/.acme.sh_install_repo
  when: acme_repo.changed

- name: Install acme.sh
  command: ./acme.sh --install --nocron --server letsencrypt -m "{{ notification_mail_to }}"
  args:
    chdir: /root/.acme.sh_install_repo
  when: acme_repo.changed

# Now, only the leader will actually provision the cert and be responsible for renewing it.
# The followers will also gather the cert from the leader each time the playbook is run
# For now that means a durable leader change (essentially a failover) should always include running this playbook
- include_tasks: swarm_leader.yml
  when: is_swarm_leader | default(false)

- include_tasks: swarm_worker.yml
  when: not is_swarm_leader | default(false)

- name: Change permissions on installed key
  file:
    path: "{{ le_certs_dir }}/{{ item }}"
    mode: "0644"
  with_items:
    - "{{ le_ca_filename }}"
    - "{{ le_cert_filename }}"
    - "{{ le_fullchain_filename }}"
    - "{{ le_key_filename }}"
