tcp_entrypoints:
  - name: stalwart-smtp
    port: 25
  - name: stalwart-smtps
    port: 465
  - name: stalwart-imaps
    port: 993
tcp_services:
  - name: stalwart-smtp-service
    domain: stalwart.services.dataforgood.fr
    entrypoint: stalwart-smtp
    addresses:
      - "d4g-stalwart_app:25"
  - name: stalwart-smtps-service
    domain: stalwart.services.dataforgood.fr
    entrypoint: stalwart-smtps
    addresses:
      - "d4g-stalwart_app:465"
  - name: stalwart-imaps-service
    domain: stalwart.services.dataforgood.fr
    entrypoint: stalwart-imaps
    addresses:
      - "d4g-stalwart_app:993"