services:
  app:
    image: "docker.n8n.io/n8nio/n8n"
    env_file: ./n8n.env
    volumes:
      - ./data:/home/node/.n8n
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ host_node }}

networks:
  d4g-internal:
    external: true
