#!/usr/bin/env bash

NC_DOMAIN=nextcloud.services.dataforgood.fr
OVERWRITEHOST=nextcloud.services.dataforgood.fr
# TODO check if trsuted domains required
# ADDITIONAL_TRUSTED_DOMAIN=

ADMIN_PASSWORD={{ lookup('env', 'NEXTCLOUD_ADMIN_PASSWORD') }}
FULLTEXTSEARCH_PASSWORD={{ lookup('env', 'NEXTCLOUD_ELASTICSEARCH_PASSWORD') | replace('$', '\$') }}
IMAGINARY_SECRET={{ lookup('env', 'NEXTCLOUD_IMAGINARY_SECRET') }}
ONLYOFFICE_SECRET={{ lookup('env', 'NEXTCLOUD_ONLYOFFICE_SECRET') }}
RECORDING_SECRET={{ lookup('env', 'NEXTCLOUD_RECORDING_SECRET') }}
SIGNALING_SECRET={{ lookup('env', 'NEXTCLOUD_SIGNALING_SECRET') }}
INTERNAL_SECRET={{ lookup('env', 'NEXTCLOUD_TALK_INTERNAL_SECRET') }}
TURN_SECRET={{ lookup('env', 'NEXTCLOUD_TURN_SECRET') }}
WHITEBOARD_SECRET={{ lookup('env', 'NEXTCLOUD_WHITEBOARD_SECRET') }}

TZ=Europe/Paris

# Setting this to "yes" (with quotes) enables the app in Nextcloud dashboard
CLAMAV_ENABLED="yes"
COLLABORA_ENABLED="no"
FULLTEXTSEARCH_ENABLED="no"
IMAGINARY_ENABLED="no"
ONLYOFFICE_ENABLED="no"
TALK_ENABLED="no"
TALK_RECORDING_ENABLED="no"
WHITEBOARD_ENABLED="no"

NEXTCLOUD_HOST=d4g-nextcloud_nextcloud
APACHE_HOST=d4g-nextcloud_apache
COLLABORA_HOST=d4g-nextcloud_collabora
TALK_HOST=d4g-nextcloud_talk
ONLYOFFICE_HOST=d4g-nextcloud_onlyoffice
NOTIFY_PUSH_HOST=d4g-nextcloud_notify-push
WHITEBOARD_HOST=d4g-nextcloud_whiteboard
FULLTEXTSEARCH_HOST=d4g-nextcloud_fulltextsearch
CLAMAV_HOST=d4g-nextcloud_clamav
IMAGINARY_HOST=d4g-nextcloud_imaginary
TALK_RECORDING_HOST=d4g-nextcloud_talk-recording

POSTGRES_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
POSTGRES_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
POSTGRES_DB=nextcloud
# nextcloud container adds prefix 'oc_' so postgres user must be created as 'oc_nextcloud'
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD={{ lookup('env', 'NEXTCLOUD_POSTGRES_PASSWORD') }}

REDIS_HOST=d4g-nextcloud_redis
REDIS_PORT=6379
REDIS_HOST_PASSWORD={{ lookup('env', 'NEXTCLOUD_REDIS_PASSWORD') }}

FULLTEXTSEARCH_PROTOCOL=http
FULLTEXTSEARCH_PORT=9200
FULLTEXTSEARCH_USER=elastic
FULLTEXTSEARCH_INDEX=nextcloud-aio

### Apps config ###

APACHE_PORT=8443
# This needs to be an integer and in sync with NEXTCLOUD_UPLOAD_LIMIT
APACHE_MAX_SIZE=17179869184
MAX_SIZE=17179869184
APACHE_MAX_TIME=3600

# This allows to adjust the port that the talk container is using. It should be set to something higher than 1024! Otherwise it might not work!
TALK_PORT=3478

# You can add additional collabora options here by using the array syntax.
ADDITIONAL_COLLABORA_OPTIONS=['--o:security.seccomp=true']
# You can change this in order to enable other dictionaries for collabora
COLLABORA_DICTIONARIES="en_US es_ES fr_FR"

# Allows to adjust the fulltextsearch java options.
FULLTEXTSEARCH_JAVA_OPTIONS="-Xms128M -Xmx128M"
