#!/usr/bin/env bash

NC_DOMAIN=nextcloud.services.dataforgood.fr
# TODO check if trsuted domains required
# ADDITIONAL_TRUSTED_DOMAIN=

DATABASE_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
DATABASE_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
DATABASE_DB=nextcloud
# nextcloud container adds prefix 'oc_' so postgres user must be created as 'oc_nextcloud'
DATABASE_USER=nextcloud
DATABASE_PASSWORD={{ lookup('env', 'NEXTCLOUD_POSTGRES_PASSWORD') }}

NEXTCLOUD_PASSWORD={{ lookup('env', 'NEXTCLOUD_ADMIN_PASSWORD') }}
REDIS_PASSWORD={{ lookup('env', 'NEXTCLOUD_REDIS_PASSWORD') }}
FULLTEXTSEARCH_PASSWORD={{ lookup('env', 'NEXTCLOUD_ELASTICSEARCH_PASSWORD') }}
IMAGINARY_SECRET={{ lookup('env', 'NEXTCLOUD_IMAGINARY_SECRET') }}
ONLYOFFICE_SECRET={{ lookup('env', 'NEXTCLOUD_ONLYOFFICE_SECRET') }}
RECORDING_SECRET={{ lookup('env', 'NEXTCLOUD_RECORDING_SECRET') }}
SIGNALING_SECRET={{ lookup('env', 'NEXTCLOUD_SIGNALING_SECRET') }}
TALK_INTERNAL_SECRET={{ lookup('env', 'NEXTCLOUD_TALK_INTERNAL_SECRET') }}
TURN_SECRET={{ lookup('env', 'NEXTCLOUD_TURN_SECRET') }}
WHITEBOARD_SECRET={{ lookup('env', 'NEXTCLOUD_WHITEBOARD_SECRET') }}

# TODO check if FQDN required or docker host is ok
SMTP_HOST=d4g-stalwart_app
MAIL_FROM_ADDRESS=admin
MAIL_DOMAIN=d4g.fr
SMTP_PORT=587
SMTP_SECURE=
SMTP_NAME=admin@d4g.fr
SMTP_PASSWORD={{ lookup('env', 'NEXTCLOUD_SMTP_PASSWORD') }}

OBJECTSTORE_S3_HOST=https://s3.fr-par.scw.cloud
OBJECTSTORE_S3_PORT=443
OBJECTSTORE_S3_SSL=false
OBJECTSTORE_S3_REGION=fr-par
OBJECTSTORE_S3_KEY={{ lookup('env', 'NEXTCLOUD_S3_ACCESS_KEY') }}
OBJECTSTORE_S3_SECRET={{ lookup('env', 'NEXTCLOUD_S3_SECRET_KEY') }}
OBJECTSTORE_S3_BUCKET=d4g-nextcloud

TIMEZONE=Europe/Paris

### Nextcloud config ###

NEXTCLOUD_ADDITIONAL_APKS=imagemagick        # This allows to add additional packages to the Nextcloud container permanently. Default is imagemagick but can be overwritten by modifying this value.
NEXTCLOUD_ADDITIONAL_PHP_EXTENSIONS=imagick        # This allows to add additional php extensions to the Nextcloud container permanently. Default is imagick but can be overwritten by modifying this value.
NEXTCLOUD_MAX_TIME=3600          # This allows to change the upload time limit of the Nextcloud container
NEXTCLOUD_MEMORY_LIMIT=512M          # This allows to change the PHP memory limit of the Nextcloud container
NEXTCLOUD_MOUNT=/mnt/nc          # This allows the Nextcloud container to access directories on the host. It must never be equal to the value of NEXTCLOUD_DATA_DIR!
NEXTCLOUD_STARTUP_APPS="mail deck twofactor_totp tasks calendar contacts notes"        # Allows to modify the Nextcloud apps that are installed on starting AIO the first time
NEXTCLOUD_TRUSTED_CACERTS_DIR=/usr/local/share/ca-certificates/my-custom-ca          # Nextcloud container will trust all the Certification Authorities, whose certificates are included in the given directory.
NEXTCLOUD_UPLOAD_LIMIT=16G          # This allows to change the upload limit of the Nextcloud container

# Setting this to yes will install the latest Major Nextcloud version upon the first installation
INSTALL_LATEST_MAJOR=no
# Setting this to no keep Nextcloud apps that are disabled via their switch and not uninstall them if they should be installed in Nextcloud.
REMOVE_DISABLED_APPS=yes
# When setting to "yes" (with quotes), it will automatically update all installed Nextcloud apps upon container startup on saturdays.
UPDATE_NEXTCLOUD_APPS="yes"

# Setting this to "yes" (with quotes) enables the app in Nextcloud dashboard
CLAMAV_ENABLED="yes"
COLLABORA_ENABLED="no"
FULLTEXTSEARCH_ENABLED="no"
IMAGINARY_ENABLED="no"
ONLYOFFICE_ENABLED="no"
TALK_ENABLED="no"
TALK_RECORDING_ENABLED="no"
WHITEBOARD_ENABLED="no"

### Apps config ###

APACHE_PORT=8443
APACHE_MAX_SIZE=17179869184  # This needs to be an integer and in sync with NEXTCLOUD_UPLOAD_LIMIT

TALK_PORT=3478          # This allows to adjust the port that the talk container is using. It should be set to something higher than 1024! Otherwise it might not work!

ADDITIONAL_COLLABORA_OPTIONS=['--o:security.seccomp=true']          # You can add additional collabora options here by using the array syntax.
COLLABORA_DICTIONARIES="en_US es_ES fr_FR"        # You can change this in order to enable other dictionaries for collabora

FULLTEXTSEARCH_JAVA_OPTIONS="-Xms128M -Xmx128M"          # Allows to adjust the fulltextsearch java options.
