### Nextcloud PHP config ###

# This allows to add additional packages to the Nextcloud container permanently. Default is imagemagick but can be overwritten by modifying this value.
ADDITIONAL_APKS=imagemagick
# This allows to add additional php extensions to the Nextcloud container permanently. Default is imagick but can be overwritten by modifying this value.
ADDITIONAL_PHP_EXTENSIONS=imagick
# This allows to change the upload time limit of the Nextcloud container, must be sync with APACHE_MAX_TIME
PHP_MAX_TIME=3600
# This allows to change the PHP memory limit of the Nextcloud container
PHP_MEMORY_LIMIT=512M
# Allows to modify the Nextcloud apps that are installed on starting AIO the first time
STARTUP_APPS="mail deck twofactor_totp tasks calendar contacts notes"
# Nextcloud container will trust all the Certification Authorities, whose certificates are included in the given directory.
TRUSTED_CACERTS_DIR="/usr/local/share/ca-certificates/my-custom-ca"

# This allows to change the upload limit of the Nextcloud container
PHP_UPLOAD_LIMIT=16G

# Setting this to yes will install the latest Major Nextcloud version upon the first installation
INSTALL_LATEST_MAJOR=no
# Setting this to no keep Nextcloud apps that are disabled via their switch and not uninstall them if they should be installed in Nextcloud.
REMOVE_DISABLED_APPS=yes
# When setting to "yes" (with quotes), it will automatically update all installed Nextcloud apps upon container startup on saturdays.
UPDATE_NEXTCLOUD_APPS="yes"

### S3 config ###

OBJECTSTORE_S3_HOST=s3.fr-par.scw.cloud
OBJECTSTORE_S3_PORT=443
OBJECTSTORE_S3_SSL=true
OBJECTSTORE_S3_REGION=fr-par
OBJECTSTORE_S3_KEY="{{ lookup('env', 'NEXTCLOUD_S3_ACCESS_KEY') }}"
OBJECTSTORE_S3_SECRET="{{ lookup('env', 'NEXTCLOUD_S3_SECRET_KEY') }}"
OBJECTSTORE_S3_BUCKET=d4g-nextcloud
OBJECTSTORE_S3_STORAGE_CLASS=STANDARD
OBJECTSTORE_S3_USEPATH_STYLE=false
OBJECTSTORE_S3_MULTIBUCKET=false
OBJECTSTORE_S3_AUTOCREATE=false

# SMTP mail service for internal purpose e.g. sending agenda invitations

# TODO check if FQDN required or docker host is ok
SMTP_HOST=d4g-stalwart_app
MAIL_FROM_ADDRESS=admin
MAIL_DOMAIN=d4g.fr
SMTP_PORT=587
SMTP_SECURE=
SMTP_NAME=admin@d4g.fr
SMTP_PASSWORD={{ lookup('env', 'NEXTCLOUD_SMTP_PASSWORD') }}
