#!/usr/bin/env bash

POSTGRE_NAME=biolit
POSTGRE_USER=biolit
POSTGRE_PASSWORD={{ lookup('env', 'BIOLIT_DB_PASSWORD') }}
POSTGRE_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
POSTGRE_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}

DJANGO_DB=default

S3_ENDPOINT_URL=https://s3.fr-par.scw.cloud
S3_ACCESS_KEY={{ lookup('env', 'STRAPI_S3_ACCESS_KEY') }}
S3_SECRET_KEY={{ lookup('env', 'STRAPI_S3_SECRET_KEY') }}
S3_REGION=fr-par

CSRF_TRUSTED_ORIGINS="https://biolitlabel.services.dataforgood.fr"