#!/usr/bin/env bash

MB_DB_TYPE=postgres
MB_DB_DBNAME=us_climate_data
MB_DB_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
MB_DB_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
MB_DB_USER=us_climate_data_ro
MB_DB_PASS={{ lookup('env', 'US_CLIMATE_DATA_RO_DB_PASSWORD') }}
MB_SITE_URL=https://us-climate-data.services.dataforgood.fr
