#!/usr/bin/env bash

RAILS_ENV=production
DATABASE_URL=postgres://decidim:{{ lookup('env', 'DECIDIM_DB_PASSWORD') }}@{{ lookup('env', 'POLETECH_DB_HOST') }}:{{ lookup('env', 'POLETECH_DB_PORT') }}/decidim
FORCE_SSL=yes
SECRET_KEY_BASE={{ lookup('env', 'DECIDIM_SECRET_KEY_BASE_VALUE') }}

SMTP_ADDRESS={{ lookup('env', 'SMTP_HOST') }}
SMTP_DOMAIN={{ lookup('env', 'SMTP_HOST') }}
SMTP_PASSWORD={{ lookup('env', 'SMTP_PASSWORD') }}
SMTP_PORT={{ lookup('env', 'SMTP_PORT_NUMBER') }}
SMTP_USERNAME={{ lookup('env', 'SMTP_USER') }}
DECIDIM_MAILER_SENDER=orga@dataforgood.fr

STORAGE_PROVIDER=local
#AWS_ACCESS_KEY_ID={{ lookup('env', 'OUTLINE_S3_ACCESS_KEY') }}
#AWS_SECRET_ACCESS_KEY={{ lookup('env', 'OUTLINE_S3_SECRET_KEY') }}
#AWS_REGION=fr-par
#AWS_BUCKET=https://s3.fr-par.scw.cloud/noco-uploads
#AWS_BUCKET=decidim-uploads

DECIDIM_APPLICATION_NAME="Data For Good Agora"
DISABLE_DATABASE_ENVIRONMENT_CHECK=1 # VA SUPPRIMER LA DB !!!
