log:
  level: "INFO"

metrics:
  prometheus:
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    entryPoint: metrics

accessLog:
  format: "json"
  filters:
    statusCodes:
      - "200-299" # log successful http requests
      - "400-599" # log failed http requests
  # collect logs as in-memory buffer before writing into log file
  bufferingSize: 0
  fields:
    headers:
      defaultMode: drop # drop all headers per default
      names:
        User-Agent: keep
        X-Forwarded-For: keep
        X-Real-Ip: keep

entrypoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "webtls"
          scheme: "https"
          permanent: true

{% for entrypoint in tcp_entrypoints %}
  {{ entrypoint.name }}:
    address: ":{{ entrypoint.port }}"
{% endfor %}

  webtls:
    address: ":443"

  metrics:
    address: ":8082"

providers:
  file:
    filename: /opt/traefik/config/config.yml
    watch: true
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  swarm:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: d4g-internal

http:
  middlewares:
    basic-auth:
      basicAuth:
        users:
          - "{{ lookup('env', 'BASIC_AUTH_USER') }}"

  routers:
{% for item in services %}
    {{ item.name }}:
{% if item.rule is defined %}
      rule: "{{ item.rule }}"
{% else %}
      rule: "Host(`{% if item.override_name is defined %}{{ item.override_name }}{% else %}{{ item.name }}.{{ base_domain }}{% endif %}`)"
{% endif %}
      service: {{ item.name }}
{% if item.middlewares is defined and item.middlewares %}
      middlewares:
{% for middleware in item.middlewares %}
        - {{ middleware }}
{% endfor %}
{% endif %}
      entryPoints:
        - webtls
      tls: {}
{% endfor %}

  services:
{% for item in services %}
    {{ item.name }}:
      loadBalancer:
        servers:
{% for address in item.addresses %}
          - url: "http://{{ address }}"
{% endfor %}
{% endfor %}

{% if tcp_services %}
tcp:
  routers:
{% for service in tcp_services %}
    {{ service.name }}:
      rule: "HostSNI(`*`)"
      service: {{ service.name }}
      entryPoints:
        - {{ service.entrypoint }}
{% endfor %}

  services:
{% for service in tcp_services %}
    {{ service.name }}:
      loadBalancer:
        servers:
{% for address in service.addresses %}
          - address: "{{ address }}"
{% endfor %}
{% endfor %}
{% endif %}

tls:
  certificates:
{% for cert in certificates %}
    - certFile: "/opt/certificates/{{ cert.name }}/fullchain.pem"
      keyFile: "/opt/certificates/{{ cert.name }}/key.pem"
{% endfor %}
  stores:
    default:
      defaultCertificate:
        certFile: "/opt/certificates/{{ certificates[0].name }}/fullchain.pem"
        keyFile: "/opt/certificates/{{ certificates[0].name }}/key.pem"
