services:
  app:
    image: "vaultwarden/server:latest"
    env_file: ./vaultwarden.env
    volumes:
      - ./data:/data
    networks:
      - d4g-internal
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:80"
      interval: 2s
      timeout: 10s
      retries: 15
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ host_node }}

networks:
  d4g-internal:
    external: true
