services:
  d4g-vaultwarden:
    image: "vaultwarden/server:latest"
    container_name: "d4g-vaultwarden"
    env_file: ./outline.env
    volumes:
      - ./data:/data
    networks:
      - d4g-internal
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:80"
      interval: 2s
      timeout: 10s
      retries: 15
    restart: unless-stopped

networks:
  d4g-internal:
    external: true
