SERVICE_FQDN_VAULTWARDEN=vaultwarden.services.dataforgood.fr
SIGNUPS_ALLOWED=false
ADMIN_TOKEN={{ lookup('env', 'ADMIN_TOKEN_ARGONIZED') }}
SMTP_HOST={{ lookup('env', 'SMTP_HOST') }}
SMTP_FROM=tech@dataforgood.fr
SMTP_PORT={{ lookup('env', 'SMTP_PORT_NUMBER') }}
SMTP_SECURITY=starttls
SMTP_USERNAME={{ lookup('env', 'SMTP_USER') }}
SMTP_PASSWORD={{ lookup('env', 'SMTP_PASSWORD') }}
DATABASE_URL=postgresql://vaultwarden:{{ lookup('env', 'VAULTWARDEN_DB_PASSWORD') }}@{{ lookup('env', 'POLETECH_DB_HOST') }}:{{ lookup('env', 'POLETECH_DB_PORT') }}/vaultwarden?sslmode=require
SHOW_PASSWORD_HINT=false
