SERVICE_FQDN_VAULTWARDEN={{ default_server_name }}
SIGNUPS_ALLOWED=false
ADMIN_TOKEN={{ vaultwarden_admin_token_argonized }}
SMTP_HOST={{ vaultwarden_smtp_host }}
SMTP_FROM=tech@dataforgood.fr
SMTP_PORT={{ vaultwarden_smtp_port }}
SMTP_SECURITY=starttls
SMTP_USERNAME={{ vaultwarden_smtp_user }}
SMTP_PASSWORD={{ vaultwarden_smtp_password }}
DATABASE_URL=postgresql://vaultwarden:{{ vaultwarden_db_password }}@{{ vaultwarden_db_host }}:{{ vaultwarden_db_port }}/vaultwarden?sslmode=require
SHOW_PASSWORD_HINT=false
