# macOS files
**/.DS_Store

ansible_shared_secret
.ansible.log
.DS_Store
*.retry
playbooks/*.retry
playbooks/test-playbook.yml
roles/test-role
**/__pycache__/**
*.TEST
.venv
*.env*
!*.env.j2

.vscode
.idea
