[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s

[defaults]
vault_password_file = /etc/ansible/ansible_shared_secret
roles_path = /etc/ansible/roles
inventory = /etc/ansible/hosts
nocows = 1
log_path=/etc/ansible/ansible.log
host_key_checking = True
pipelining = True
