services:
  app:
    image: gristlabs/grist:latest
    env_file: ./grist.env
    volumes:
      - ./data/persist:/persist
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  redis:
    image: redis:7-alpine
    volumes:
      - ./data/redis:/data
    networks:
      - d4g-internal
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true
