GRIST_SESSION_SECRET={{ lookup('env', 'GRIST_SESSION_SECRET') }}
GRIST_DEFAULT_EMAIL=orga@dataforgood.frz

TYPEORM_TYPE=postgres
TYPEORM_DATABASE=grist
TYPEORM_USERNAME=grist
TYPEORM_PASSWORD={{ lookup('env', 'GRIST_DB_PASSWORD') }}
TYPEORM_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
TYPEORM_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}

REDIS_URL=redis://gristredis

GRIST_DOCS_MINIO_ACCESS_KEY={{ lookup('env', 'OUTLINE_S3_ACCESS_KEY') }}
GRIST_DOCS_MINIO_SECRET_KEY={{ lookup('env', 'OUTLINE_S3_SECRET_KEY') }}
GRIST_DOCS_MINIO_ENDPOINT=https://grist-docs.s3.fr-par.scw.cloud
GRIST_DOCS_MINIO_BUCKET=grist-docs

GRIST_WIDGET_LIST_URL="https://github.com/gristlabs/grist-widget/releases/download/latest/manifest.json"