# Core
APP_HOME_URL=https://grist.{{ base_domain }}
GRIST_SESSION_SECRET={{ lookup('env', 'GRIST_SESSION_SECRET') }}
GRIST_FORCE_LOGIN=true
GRIST_DEFAULT_EMAIL={{ lookup('env', 'GRIST_DEFAULT_EMAIL') }}
GRIST_SINGLE_ORG=data-for-good
GRIST_HIDE_UI_ELEMENTS=billing,templates
GRIST_DEFAULT_ROLE=editor
GRIST_TELEMETRY_LEVEL=off
GRIST_IN_SERVICE=true
PYTHON_VERSION=3
PYTHON_VERSION_ON_CREATION=3

# Database
TYPEORM_TYPE=postgres
TYPEORM_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
TYPEORM_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
TYPEORM_DATABASE=grist
TYPEORM_USERNAME=grist
TYPEORM_PASSWORD={{ lookup('env', 'GRIST_DB_PASSWORD') }}
TYPEORM_LOGGING=false

# Redis
REDIS_URL=redis://d4g-grist_redis:6379

# S3 Storage
GRIST_DOCS_MINIO_ACCESS_KEY={{ lookup('env', 'GRIST_S3_ACCESS_KEY') }}
GRIST_DOCS_MINIO_SECRET_KEY={{ lookup('env', 'GRIST_S3_SECRET_KEY') }}
GRIST_DOCS_MINIO_ENDPOINT=s3.fr-par.scw.cloud
GRIST_DOCS_MINIO_PORT=443
GRIST_DOCS_MINIO_USE_SSL=1
GRIST_DOCS_MINIO_BUCKET={{ grist_s3_bucket }}
GRIST_DOCS_MINIO_BUCKET_REGION=fr-par

# OIDC (Authentik)
GRIST_OIDC_IDP_ISSUER=https://authentik.{{ base_domain }}/application/o/grist/
GRIST_OIDC_IDP_CLIENT_ID={{ lookup('env', 'GRIST_OIDC_CLIENT_ID') }}
GRIST_OIDC_IDP_CLIENT_SECRET={{ lookup('env', 'GRIST_OIDC_CLIENT_SECRET') }}
GRIST_OIDC_IDP_SCOPES=openid email profile
GRIST_OIDC_SP_HOST=https://grist.{{ base_domain }}
GRIST_OIDC_IDP_END_SESSION_ENDPOINT=https://authentik.{{ base_domain }}/application/o/grist/end-session/
GRIST_OIDC_IDP_ENABLED_PROTECTIONS=PKCE,STATE
GRIST_OIDC_SP_IGNORE_EMAIL_VERIFIED=true

# Email
GRIST_NODEMAILER_CONFIG={"host":"stalwart.services.dataforgood.fr","port":587,"secure":false}

# TLS
NODE_TLS_REJECT_UNAUTHORIZED=0

# Sandboxing
GRIST_SANDBOX_FLAVOR=gvisor
