services:
  frontend:
    image: lasuite/impress-frontend:latest
    volumes:
      - ./default.conf.template:/etc/nginx/conf.d/docs.conf:ro
    env_file: ./docs.env
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  backend:
    image: lasuite/impress-backend:latest
    env_file: ./docs.env
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  y-provider:
    image: lasuite/impress-y-provider:latest
    env_file: ./docs.env
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  celery:
    image: lasuite/impress-backend:latest
    command: celery -A impress.celery_app worker -l INFO
    env_file: ./docs.env
    networks:
      - d4g-internal
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  redis:
    image: redis:7-alpine
    volumes:
      - ./data/redis:/data
    networks:
      - d4g-internal
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true
