services:
  app:
    image: ghcr.io/dataforgoodfr/strapi:latest
    env_file: './strapi.env'
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ host_node }}

networks:
  d4g-internal:
    external: true
