services:
  app:
    image: ghcr.io/dataforgoodfr/strapi@sha256:f2063878cb04ce7f6bed2185669c84cef91cfbcffa44cbf93c83d6bfd2ca3cc9
    env_file: './strapi.env'
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true
