#!/usr/bin/env bash

DATABASE_CLIENT=postgres
DATABASE_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
DATABASE_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD={{ lookup('env', 'STRAPI_DB_PASSWORD') }}
JWT_SECRET={{ lookup('env', 'STRAPI_JWT_TOKEN') }}
ADMIN_JWT_SECRET={{ lookup('env', 'STRAPI_JWT_ADMIN_TOKEN') }}
APP_KEYS={{ lookup('env', 'STRAPI_APP_KEYS') }}
API_TOKEN_SALT={{ lookup('env', 'STRAPI_API_TOKEN_SALT') }}
TRANSFER_TOKEN_SALT={{ lookup('env', 'TRANSFER_TOKEN_SALT') }}
NODE_ENV=development
SMTP_API_KEY={{ lookup('env', 'SMTP_PASSWORD') }}
STRAPI_SMTP_FROM=tech@dataforgood.fr
AWS_ACCESS_KEY_ID={{ lookup('env', 'STRAPI_S3_ACCESS_KEY') }}
AWS_SECRET_ACCESS_KEY={{ lookup('env', 'STRAPI_S3_SECRET_KEY') }}
AWS_REGION=fr-par
AWS_S3_UPLOAD_BUCKET_URL=https://s3.fr-par.scw.cloud
AWS_S3_UPLOAD_BUCKET_NAME=strapi-uploads
