#!/usr/bin/env bash

DATABASE_CLIENT=postgres
DATABASE_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
DATABASE_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD={{ lookup('env', 'STRAPI_DB_PASSWORD') }}
JWT_SECRET={{ lookup('env', 'STRAPI_JWT_TOKEN') }}
ADMIN_JWT_SECRET={{ lookup('env', 'STRAPI_JWT_ADMIN_TOKEN') }}
APP_KEYS={{ lookup('env', 'STRAPI_APP_KEYS') }}
API_TOKEN_SALT={{ lookup('env', 'STRAPI_API_TOKEN_SALT') }}
NODE_ENV=production
