services:
  app:
    image: louislam/uptime-kuma
    env_file: ./uptime-kuma.env
    volumes:
      - ./data:/app/data
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true
