APP_ID=Coolify
APP_NAME=Coolify
APP_KEY={{ lookup('env', 'COOLIFY_APP_KEY_PASSWORD') }}
APP_ENV=production


DB_HOST={{ lookup('env', 'POLETECH_DB_PROD_HOST') }}
DB_PORT={{ lookup('env', 'POLETECH_DB_PROD_PORT') }}
DB_DATABASE=coolify
DB_USERNAME=coolify
DB_PASSWORD={{ lookup('env', 'COOLIFY_DB_PASSWORD') }}

REDIS_HOST=coolify-redis
REDIS_PASSWORD=coolify

PUSHER_APP_ID={{ lookup('env', 'COOLIFY_PUSHER_APP_ID') }}
PUSHER_APP_KEY={{ lookup('env', 'COOLIFY_PUSHER_APP_KEY') }}
PUSHER_APP_SECRET={{ lookup('env', 'COOLIFY_PUSHER_APP_SECRET') }}
PUSHER_BACKEND_HOST=coolify-realtime
PUSHER_BACKEND_PORT=6001

SOKETI_DEFAULT_APP_ID={{ lookup('env', 'COOLIFY_PUSHER_APP_ID') }}
SOKETI_DEFAULT_APP_KEY={{ lookup('env', 'COOLIFY_PUSHER_APP_KEY') }}
SOKETI_DEFAULT_APP_SECRET={{ lookup('env', 'COOLIFY_PUSHER_APP_SECRET') }}
SOKETI_DEBUG=true

ROOT_USERNAME=admin
ROOT_USER_EMAIL=tech@dataforgood.fr
ROOT_USER_PASSWORD={{ lookup('env', 'COOLIFY_ADMIN_PASSWORD') }}

REGISTRY_URL=ghcr.io
