#!/usr/bin/env bash

MB_DB_TYPE=postgres
MB_DB_DBNAME=d4g_metabase
MB_DB_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
MB_DB_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
MB_DB_USER=d4g_metabase
MB_DB_PASS={{ lookup('env', 'D4G_METABASE_DB_PASSWORD') }}
MB_SITE_URL=https://d4g.services.dataforgood.fr