services:
  app:
    image: metabase/metabase:latest
    env_file: ./d4g-metabase.env
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true