---
services:
  secondemain-metabase:
    image: metabase/metabase:latest
    container_name: "secondemain-metabase"
    environment:
      - MB_
      - MB_DB_TYPE=postgres
      - MB_DB_DBNAME=metabase
      - MB_DB_PORT=18871
      - MB_DB_HOST=51.159.204.209
      - MB_DB_USER=metabase
      - MB_DB_PASS={{ secondemain_metabase_db_password }}
      - MB_SITE_URL=https://secondemain.services.dataforgood.fr
    networks:
      - d4g-internal
    restart: unless-stopped

networks:
  d4g-internal:
    external: true
