---
services:
  secondemain-metabase:
    image: metabase/metabase:latest
    container_name: "secondemain-metabase"
    environment:
      - MB_DB_TYPE=postgres
      - MB_DB_DBNAME=metabase
      - MB_DB_PORT=18871
      - MB_DB_HOST=51.159.204.209
      - MB_DB_USER=metabase
      - MB_DB_PASS={{ secondemain_metabase_db_password }}
      - MB_SITE_URL=https://secondemain.services.dataforgood.fr
    restart: always
    ports:
      - "3001:3000"
