# Django
DJANGO_ALLOWED_HOSTS=visio.{{ base_domain }}
DJANGO_SECRET_KEY={{ lookup('env', 'VISIO_DJANGO_SECRET_KEY') }}
DJANGO_SETTINGS_MODULE=meet.settings
DJANGO_CONFIGURATION=Production

# Internal hosts (Docker Swarm service names)
BACKEND_INTERNAL_HOST=d4g-visio_backend
FRONTEND_INTERNAL_HOST=d4g-visio_frontend
LIVEKIT_INTERNAL_HOST=d4g-visio_livekit

MEET_BASE_URL=https://visio.{{ base_domain }}

# Database
DB_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
DB_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
DB_NAME=visio
DB_USER=visio
DB_PASSWORD={{ lookup('env', 'VISIO_DB_PASSWORD') }}

# Redis
REDIS_URL=redis://d4g-visio_redis:6379/0

# LiveKit
LIVEKIT_API_KEY=meet
LIVEKIT_API_SECRET={{ lookup('env', 'VISIO_LIVEKIT_API_SECRET') }}
LIVEKIT_API_URL=https://livekit-visio.{{ base_domain }}

# OIDC (Authentik)
OIDC_RP_CLIENT_ID={{ lookup('env', 'VISIO_OIDC_CLIENT_ID') }}
OIDC_RP_CLIENT_SECRET={{ lookup('env', 'VISIO_OIDC_CLIENT_SECRET') }}
OIDC_OP_JWKS_ENDPOINT=https://authentik.{{ base_domain }}/application/o/visio/jwks/
OIDC_OP_AUTHORIZATION_ENDPOINT=https://authentik.{{ base_domain }}/application/o/authorize/
OIDC_OP_TOKEN_ENDPOINT=https://authentik.{{ base_domain }}/application/o/token/
OIDC_OP_USER_ENDPOINT=https://authentik.{{ base_domain }}/application/o/userinfo/
OIDC_OP_LOGOUT_ENDPOINT=https://authentik.{{ base_domain }}/application/o/visio/end-session/
OIDC_RP_SIGN_ALGO=RS256
OIDC_RP_SCOPES=openid email profile
LOGIN_REDIRECT_URL=https://visio.{{ base_domain }}
LOGIN_REDIRECT_URL_FAILURE=https://visio.{{ base_domain }}
LOGOUT_REDIRECT_URL=https://visio.{{ base_domain }}
OIDC_REDIRECT_ALLOWED_HOSTS=["https://visio.{{ base_domain }}"]

# Access control
ALLOW_UNREGISTERED_ROOMS=False

# SMTP (Stalwart)
DJANGO_EMAIL_HOST=stalwart.services.dataforgood.fr
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_FROM=noreply@d4g.fr
DJANGO_EMAIL_USE_TLS=true
DJANGO_EMAIL_BRAND_NAME=Data For Good
DJANGO_EMAIL_LOGO_IMG=https://visio.{{ base_domain }}/assets/logo-suite-numerique.png

# Python
PYTHONPATH=/app
