# This file pre-populates our data sources (VictoriaMetrics for metrics and Loki for logs)
# into the Grafana instance.
apiVersion: 1

datasources:
  - name: VictoriaMetrics
    type: prometheus
    access: proxy
    uid: victoriametrics
    url: http://victoria-metrics:8428
    isDefault: true
    editable: false
    jsonData:
      timeInterval: 30s
      httpMethod: POST
      manageAlerts: false
      prometheusType: Prometheus
      prometheusVersion: 2.40.0
      cacheLevel: 'High'
      incrementalQuerying: true
      incrementalQueryOverlapWindow: 10m

  - name: Loki
    type: loki
    access: proxy
    uid: loki
    url: http://loki:3100
    isDefault: false
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: victoriametrics
          matcherRegex: "traceID=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"
