#!/usr/bin/env bash

AUTHENTIK_BOOTSTRAP_EMAIL=tech@dataforgood.fr
AUTHENTIK_BOOTSTRAP_PASSWORD={{ lookup('env', 'AUTHENTIK_ADMIN_PASSWORD') }}

AUTHENTIK_REDIS__HOST=redisauthentik
AUTHENTIK_POSTGRESQL__HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
AUTHENTIK_POSTGRESQL__PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__PASSWORD={{ lookup('env', 'AUTHENTIK_DB_PASSWORD') }}

AUTHENTIK_LISTEN__HTTP=0.0.0.0:80

AUTHENTIK_STORAGE__MEDIA__BACKEND=s3
AUTHENTIK_STORAGE__MEDIA__S3__REGION=fr-par
AUTHENTIK_STORAGE__MEDIA__S3__ENDPOINT=https://s3.fr-par.scw.cloud
AUTHENTIK_STORAGE__MEDIA__S3__ACCESS_KEY={{ lookup('env', 'STRAPI_S3_ACCESS_KEY') }}
AUTHENTIK_STORAGE__MEDIA__S3__SECRET_KEY={{ lookup('env', 'STRAPI_S3_SECRET_KEY') }}
AUTHENTIK_STORAGE__MEDIA__S3__BUCKET_NAME=authentik-uploads

AUTHENTIK_SECRET_KEY={{ lookup('env', 'AUTHENTIK_SECRET_KEY') }}

AUTHENTIK_EMAIL__FROM=orga@dataforgood.fr
AUTHENTIK_EMAIL__HOST={{ lookup('env', 'SMTP_HOST') }}
AUTHENTIK_EMAIL__PORT={{ lookup('env', 'SMTP_PORT_NUMBER') }}
AUTHENTIK_EMAIL__USERNAME={{ lookup('env', 'SMTP_USER') }}
AUTHENTIK_EMAIL__PASSWORD={{ lookup('env', 'SMTP_PASSWORD') }}
