---

services:
  redisauthentik:
    image: docker.io/library/redis:alpine
    command: --save 60 1 --loglevel warning
    container_name: authentik-redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    volumes:
      - /opt/d4g-authentik/data/redis:/data
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  app:
    image: ghcr.io/goauthentik/server:2025.6
    command: server
    env_file: authentik.env
    volumes:
      - ./branding/logo-dfg.png:/web/dist/assets/icons/icon_left_brand.png # by default it's a .jpg
      - ./branding/favicon.png:/static/dist/assets/icons/d4gicon.png
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  worker:
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.6.0}
    restart: unless-stopped
    command: worker
    env_file: authentik.env
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
   external: true
