---

services:
  app:
    image: ghcr.io/goauthentik/server:2025.10
    command: server
    env_file: authentik.env
    volumes:
      - ./branding/logo-dfg.png:/web/dist/assets/icons/icon_left_brand.png # by default it's a .jpg
      - ./branding/favicon.png:/static/dist/assets/icons/d4gicon.png
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  worker:
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.10}
    restart: unless-stopped
    command: worker
    env_file: authentik.env
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
   external: true
