services:
  app:
    image: mattermost/mattermost-enterprise-edition:10.9
    tmpfs:
      - /tmp
    volumes:
      - /opt/d4g-mattermost/data/config:/mattermost/config
      - /opt/d4g-mattermost/data/data:/mattermost/data
      - /opt/d4g-mattermost/data/logs:/mattermost/logs
      - /opt/d4g-mattermost/data/plugins:/mattermost/plugins
      - /opt/d4g-mattermost/data/client/plugins:/mattermost/client/plugins
      - /opt/d4g-mattermost/data/bleve-indexes:/mattermost/bleve-indexes
    env_file:
      - mattermost.env
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true
