---
- name: Set hostname to current inventory hostname
  hostname:
    name: "{{ inventory_hostname }}"

- name: Disable ssh password authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PasswordAuthentication"
    line: "PasswordAuthentication no"
    state: present
  notify: restart sshd

- name: Copy authorized keys to root
  copy:
    src: "/home/ubuntu/.ssh/authorized_keys"
    dest: /root/.ssh/authorized_keys
    owner: root
    group: root
    remote_src: yes
    mode: "0600"

- name: Disable motd news ENABLED=0
  lineinfile:
    path: /etc/default/motd-news
    regexp: "^ENABLED="
    line: "ENABLED=0"

- name: Disable motd messages for the items
  command: chmod -x /etc/update-motd.d/{{ item }}
  with_items:
    - 10-help-text
    - 90-updates-available
    - 98-reboot-required

- name: Create custom motd
  template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: "0644"

- name: Apt update
  apt:
    update_cache: yes

- name: install base pkgs
  apt:
    state: present
    cache_valid_time: "86400"
    name:
      - "apt-transport-https"
      - "build-essential"
      - "ca-certificates"
      - "cron"
      - "curl"
      - "file"
      - "git"
      - "gpg"
      - "htop"
      - "jq"
      - "less"
      - "procps"
      - "ripgrep"
      - "rsyslog"
      - "software-properties-common"
      - "tcpdump"
      - "vim"
      - "wget"

- name: Create APT keyrings directory
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"

- name: Add Charm GPG key
  shell: |
    curl -fsSL https://repo.charm.sh/apt/gpg.key | gpg --dearmor -o /etc/apt/keyrings/charm.gpg
    chmod 644 /etc/apt/keyrings/charm.gpg
  args:
    creates: /etc/apt/keyrings/charm.gpg

- name: Add Charm repository
  apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/charm.gpg] https://repo.charm.sh/apt/ * *"
    state: present
    filename: charm

- name: Update apt cache after adding Charm repo
  apt:
    update_cache: yes

- name: Install gum from Charm repository
  apt:
    state: present
    name:
      - gum

- name: Create d4g tools
  template:
    src: "{{ item }}.j2"
    dest: /usr/local/bin/{{ item }}
    mode: "0755"
  with_items:
    - slack-notifier
    - d4gctl

- name: Create SSH config directory
  file:
    path: /root/.ssh
    state: directory
    mode: "0700"

- name: Configure SSH for cluster nodes
  blockinfile:
    path: /root/.ssh/config
    create: yes
    mode: "0644"
    marker: "# {mark} ANSIBLE MANAGED - Cluster SSH Config"
    block: |
      Host *.dataforgood.fr *.d4g.fr
        StrictHostKeyChecking no
        UserKnownHostsFile /dev/null
        LogLevel ERROR
        ForwardAgent yes
