services:
  app:
    image: "nginx:1-alpine"
    ports:
      - 80:80
      - 443:443
    volumes:
      - /opt/certificates:/opt/certificates
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./nginx-conf:/etc/nginx/conf.d/
    networks:
      - d4g-internal  # Attach to the internal overlay network for container communication
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ host_node }}

networks:
  d4g-internal:
    external: true  # Use an external overlay network created in Swarm mode
