services:
  app:
    image: ghcr.io/dataforgoodfr/us_climate_data_dispatcher:latest
    env_file: ./us-climate-data-dispatcher.env
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true
