# Database connection configuration

# DATABASE_URL=postgresql://{{ lookup('env', 'US_CLIMATE_DATA_DB_USER') }}:{{ lookup('env', 'US_CLIMATE_DATA_DB_PASSWORD') }}@{{ lookup('env', 'POLETECH_DB_HOST') }}:{{ lookup('env', 'POLETECH_DB_PORT') }}/us_climate_data
# DB_NAME=us_climate_data
# DB_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
# DB_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
# DB_USER=us_climate_data_ro
# DB_PASSWORD={{ lookup('env', 'US_CLIMATE_DATA_RO_DB_PASSWORD') }}

# Application configuration
API_VERSION=0.1.0
ENVIRONMENT=production
