# Database connection configuration

RESCUE_API_POSTGRES_DB=us_climate_data
RESCUE_API_POSTGRES_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
RESCUE_API_POSTGRES_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
RESCUE_API_POSTGRES_USER=us_climate_data_ro
RESCUE_API_POSTGRES_PASSWORD={{ lookup('env', 'US_CLIMATE_DATA_DB_PASSWORD') }}
PRIORIZER_URL=http://us-climate-data-priorizer

# Application configuration
API_VERSION=0.1.0
ENVIRONMENT=production
