# Core
SECRET_KEY={{ lookup('env', 'HOME_SECRET_KEY') }}
DATABASE_URL=postgresql+asyncpg://community_manager:{{ lookup('env', 'HOME_DB_PASSWORD') }}@{{ lookup('env', 'POLETECH_DB_HOST') }}:{{ lookup('env', 'POLETECH_DB_PORT') }}/community_manager
BASE_URL={{ home_base_url }}
DEBUG=false

# Authentik
AUTHENTIK__URL=https://authentik.{{ base_domain }}
AUTHENTIK__TOKEN={{ lookup('env', 'HOME_AUTHENTIK_TOKEN') }}
AUTHENTIK__OIDC_CLIENT_ID={{ lookup('env', 'HOME_OIDC_CLIENT_ID') }}
AUTHENTIK__OIDC_CLIENT_SECRET={{ lookup('env', 'HOME_OIDC_CLIENT_SECRET') }}
AUTHENTIK__OIDC_ISSUER=https://authentik.{{ base_domain }}/application/o/community-manager/

# Mattermost
MATTERMOST__URL=https://mattermost.{{ base_domain }}
MATTERMOST__TEAM_ID={{ lookup('env', 'MATTERMOST_TEAM_ID') }}
MATTERMOST__BOT_TOKEN={{ lookup('env', 'MATTERMOST_BOT_TOKEN') }}
MATTERMOST__BOT_NAME={{ lookup('env', 'MATTERMOST_BOT_NAME') }}

# Outline
OUTLINE__URL=https://outline.{{ base_domain }}
OUTLINE__TOKEN={{ lookup('env', 'OUTLINE_TOKEN') }}

# Brevo
BREVO__API_URL=https://api.brevo.com/v3
BREVO__API_KEY={{ lookup('env', 'BREVO_API_KEY') }}
BREVO__AUTHENTIK_USERS_LIST_ID=64
BREVO__SENDER_EMAIL=marty@dataforgood.fr
BREVO__SENDER_NAME=Marty Bot

# NocoDB
NOCODB__URL=https://noco.{{ base_domain }}
NOCODB__TOKEN={{ lookup('env', 'NOCODB_TOKEN') }}

# Vaultwarden
VAULTWARDEN__ORGANIZATION_ID={{ lookup('env', 'VAULTWARDEN_ORGANIZATION_ID') }}
VAULTWARDEN__SERVER_URL=https://vaultwarden.{{ base_domain }}
VAULTWARDEN__API_USERNAME={{ lookup('env', 'VAULTWARDEN_API_USERNAME') }}
VAULTWARDEN__API_PASSWORD={{ lookup('env', 'VAULTWARDEN_API_PASSWORD') }}

# GitHub
GITHUB__TOKEN={{ lookup('env', 'HOME_GITHUB_TOKEN') }}
GITHUB__ORGANIZATION=dataforgoodfr

# Stalwart
STALWART__URL=https://stalwart.{{ base_domain }}
STALWART__ADMIN_TOKEN={{ lookup('env', 'HOME_STALWART_ADMIN_TOKEN') }}

# Nextcloud
NEXTCLOUD__URL=https://nextcloud.{{ base_domain }}
NEXTCLOUD__ADMIN_USER={{ lookup('env', 'HOME_NEXTCLOUD_ADMIN_USER') }}
NEXTCLOUD__ADMIN_PASSWORD={{ lookup('env', 'HOME_NEXTCLOUD_ADMIN_PASSWORD') }}
