services:
  app:
    image: docker.io/bitnami/moodle:4.5
    env_file: './moodle.env'
    volumes:
      - ./data/moodle:/bitnami/moodle
      - ./data/moodledata:/bitnami/moodledata
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ host_node }}

networks:
  d4g-internal:
    external: true
