#!/usr/bin/env bash
MOODLE_DATABASE_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
MOODLE_DATABASE_PORT_NUMBER={{ lookup('env', 'POLETECH_DB_PORT') }}
MOODLE_DATABASE_USER=moodle
MOODLE_DATABASE_NAME=moodle
MOODLE_DATABASE_PASSWORD={{ lookup('env', 'MOODLE_DATABASE_PASSWORD') }}
MOODLE_DATABASE_TYPE=pgsql
MOODLE_SITE_NAME="Data for Good Moodle"
MOODLE_HOST=moodle.services.dataforgood.fr
MOODLE_REVERSEPROXY=false
MOODLE_SSLPROXY=false
MOODLE_LANG=en
MOODLE_USERNAME=d4g-admin
MOODLE_PASSWORD={{ lookup('env', 'MOODLE_ADMIN_PASSWORD') }}
MOODLE_EMAIL=orga@dataforgood.fr
MOODLE_SMTP_HOST={{ lookup('env', 'SMTP_HOST') }}
MOODLE_SMTP_PORT_NUMBER={{ lookup('env', 'SMTP_PORT_NUMBER') }}
MOODLE_SMTP_USER={{ lookup('env', 'SMTP_USER') }}
MOODLE_SMTP_PASSWORD={{ lookup('env', 'SMTP_PASSWORD') }}
BITNAMI_DEBUG=true
