# required: https://github.com/plausible/community-edition/wiki/configuration#required
BASE_URL=https://plausible.services.dataforgood.fr
SECRET_KEY_BASE={{ lookup('env', 'PLAUSIBLE_SECRET_KEY') }}
TMPDIR=/var/lib/plausible/tmp

# registration: https://github.com/plausible/community-edition/wiki/configuration#registration
DISABLE_REGISTRATION=invite_only
ENABLE_EMAIL_VERIFICATION=true
HTTP_PORT=80
DATABASE_URL=postgres://plausible:{{ lookup('env', 'PLAUSIBLE_DB_PASSWORD') }}@{{ lookup('env', 'POLETECH_DB_HOST') }}:{{ lookup('env', 'POLETECH_DB_PORT') }}/plausible
CLICKHOUSE_DATABASE_URL=http://plausible:{{ lookup('env', 'PLAUSIBLE_CLICKHOUSE_PASSWORD') }}@d4g-plausible_events:8123/plausible

# email: https://github.com/plausible/community-edition/wiki/configuration#email
SMTP_HOST_ADDR={{ lookup('env', 'SMTP_HOST') }}
SMTP_HOST_PORT={{ lookup('env', 'SMTP_PORT_NUMBER') }}
SMTP_USER_NAME={{ lookup('env', 'SMTP_USER') }}
SMTP_USER_PWD={{ lookup('env', 'SMTP_PASSWORD') }}


CLICKHOUSE_DB=plausible
CLICKHOUSE_USER=plausible
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
CLICKHOUSE_PASSWORD={{ lookup('env', 'PLAUSIBLE_CLICKHOUSE_PASSWORD') }}
