#!/usr/bin/env bash

MB_DB_TYPE=postgres
MB_DB_DBNAME=reveler_inegalites_cinema
MB_DB_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
MB_DB_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
MB_DB_USER=ric_metabas
MB_DB_PASS={{ lookup('env', 'SECONDEMAIN_METABASE_DB_PASSWORD') }}
MB_SITE_URL=https://collectif5050.services.dataforgood.fr