services:
  app:
    image: stalwartlabs/stalwart:v0.14
    # TODO: do we persist logs ?
    volumes:
      - ./config.toml:/opt/stalwart/etc/config.toml:ro
    env_file: ./stalwart.env
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true
