services:
  app:
    image: stalwartlabs/stalwart:v0.14
    volumes:
      - ./stalwart:/opt/stalwart
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true
