#!/usr/bin/env bash

STALWART_SERVER_HOSTNAME="stalwart.dataforgood.fr"  # TODO use correct hostname

POSTGRES_HOST={{ lookup('env', 'POLETECH_DB_HOST') }}
POSTGRES_PORT={{ lookup('env', 'POLETECH_DB_PORT') }}
POSTGRES_DB=stalwart
POSTGRES_USER=stalwart
POSTGRES_PASSWORD={{ lookup('env', 'POLETECH_DB_STALWART_PASSWORD') }}

S3_ENDPOINT=https://s3.fr-par.scw.cloud
S3_REGION=fr-par
S3_BUCKET=d4g-stalwart
S3_KEY_PREFIX=blobs
S3_ACCESS_KEY={{ lookup('env', 'STALWART_S3_ACCESS_KEY') }}
S3_SECRET_KEY={{ lookup('env', 'STALWART_S3_SECRET_KEY') }}

ADMIN_USER=d4gadmin
ADMIN_PASSWORD="{{ lookup('env', 'STALWART_ADMIN_PASSWORD') | password_hash('sha512') }}"
