#!/usr/bin/env bash

# Database configuration
database__client=sqlite3
database__connection__filename=/var/lib/ghost/content/data/ghost.db

# Server configuration
server__host=0.0.0.0
server__port=2368
server__trustProxy=true
url="https://ghost.services.dataforgood.fr"
security__staffDeviceVerification=false

# S3 Storage configuration
storage__active=s3
storage__media__adapter=s3
storage__files__adapter=s3

# AWS SDK environment variables (used by Gumlet adapter)
AWS_ACCESS_KEY_ID={{ lookup('env', 'GHOST_S3_ACCESS_KEY') }}
AWS_SECRET_ACCESS_KEY={{ lookup('env', 'GHOST_S3_SECRET_KEY') }}
AWS_DEFAULT_REGION=fr-par

# Gumlet adapter specific environment variables
GHOST_STORAGE_ADAPTER_S3_PATH_BUCKET=ghost-s3
GHOST_STORAGE_ADAPTER_S3_ENDPOINT=https://s3.fr-par.scw.cloud
GHOST_STORAGE_ADAPTER_S3_FORCE_PATH_STYLE=false
GHOST_STORAGE_ADAPTER_S3_ACL=public-read
GHOST_STORAGE_ADAPTER_S3_ASSET_HOST=https://s3.fr-par.scw.cloud/ghost-s3
#GHOST_STORAGE_ADAPTER_S3_PATH_PREFIX=

# SMTP Mail configuration
mail__transport=SMTP
mail__from=tech@dataforgood.fr
mail__options__host={{ lookup('env', 'SMTP_HOST') }}
mail__options__port={{ lookup('env', 'SMTP_PORT_NUMBER') }}
mail__options__auth__user={{ lookup('env', 'SMTP_USER') }}
mail__options__auth__pass={{ lookup('env', 'SMTP_PASSWORD') }}
#mail__options__secure=false
