PG_DATABASE_URL = "postgresql+psycopg2://************:**********@*************-postgresql.services.clever-cloud.com:7327/************"
LLM_INFERENCE_URL = "http://172.17.0.1:11434/v1/"
LLM_INFERENCE_MODEL = "llama3.2:3b"
LLM_INFERENCE_API_KEY = "ollama"
EMBEDDING_MODEL_URL = "http://172.17.0.1:11434/v1/"
EMBEDDING_MODEL = "snowflake-arctic-embed2"
EMBEDDING_MODEL_API_KEY = "ollama"
COLLECTION_ID = 1
USER_ID = "123456"
