PG_DATABASE_URL=
LLM_INFERENCE_URL=ollama:11434/v1/
LLM_INFERENCE_MODEL=hf.co/PleIAs/Pleias-RAG-1B-gguf
LLM_INFERENCE_API_KEY=ollama
EMBEDDING_MODEL_URL=ollama:11434/v1/
EMBEDDING_MODEL=snowflake-arctic-embed2
EMBEDDING_MODEL_API_KEY=ollama
COLLECTION_ID=1
USER_ID=b843839bba5041069a86d9e665f56cbe
GRADIO_SERVER_NAME=0.0.0.0
GRADIO_SERVER_PORT=8080
OLLAMA_DEPLOYMENT=docker
VECTORSTORE_URL=https://a1486cef-682e-46af-8a72-a6c7af31b9aa.eu-central-1-0.aws.cloud.qdrant.io:6333
VECTOR_STORE_API_KEY=
CELLAR_ADDON_KEY_ID=
CELLAR_ADDON_KEY_SECRET=
CELLAR_ADDON_HOST=cellar-c2.services.clever-cloud.com


