PG_DATABASE_URL = {{ lookup('env', 'PG_DATABASE_URL') }}
LLM_INFERENCE_URL = "ollama:11434/v1/"
LLM_INFERENCE_MODEL = " hf.co/PleIAs/Pleias-RAG-1B-gguf"
LLM_INFERENCE_API_KEY = "ollama"
EMBEDDING_MODEL_URL = "ollama:11434/v1/"
EMBEDDING_MODEL = "snowflake-arctic-embed2"
EMBEDDING_MODEL_API_KEY = "ollama"
COLLECTION_ID = 1
USER_ID = "123456"
