#!/usr/bin/env bash

NC_DB=pg://{{ lookup('env', 'POLETECH_DB_HOST') }}:{{ lookup('env', 'POLETECH_DB_PORT') }}?u=noco&p={{ lookup('env', 'NC_DB_PASSWORD') }}&d=noco
NC_AUTH_JWT_SECRET="{{ lookup('env', 'NC_AUTH_JWT_SECRET') }}"
NC_CONNECTION_ENCRYPT_KEY="{{ lookup('env', 'NC_ENCRYPT_KEY') }}"
NC_ADMIN_EMAIL=orga@dataforgood.fr
NC_ADMIN_PASSWORD={{ lookup('env', 'NC_ADMIN_PASSWORD') }}
NC_S3_ACCESS_KEY={{ lookup('env', 'OUTLINE_S3_ACCESS_KEY') }}
NC_S3_ACCESS_SECRET={{ lookup('env', 'OUTLINE_S3_SECRET_KEY') }}
NC_S3_REGION=fr-par
NC_S3_ENDPOINT=https://s3.fr-par.scw.cloud/noco-uploads
NC_S3_BUCKET_NAME=noco-uploads
NC_S3_FORCE_PATH_STYLE=false
NC_SECURE_ATTACHMENTS=true
NC_S3_ACL=public-read
NC_SMTP_FROM=orga@dataforgood.fr
NC_SMTP_HOST={{ lookup('env', 'SMTP_HOST') }}
NC_SMTP_PORT={{ lookup('env', 'SMTP_PORT_NUMBER') }}
NC_SMTP_USERNAME={{ lookup('env', 'SMTP_USER') }}
NC_SMTP_PASSWORD={{ lookup('env', 'SMTP_PASSWORD') }}
PORT=80
NC_PUBLIC_URL=https://noco.services.dataforgood.fr
NC_REDIS_URL=redis://d4g-noco_redis:6379
