# Mattermost
MATTERMOST_URL=https://mattermost.{{ base_domain }}/
MATTERMOST_TEAM_ID={{ lookup('env', 'MATTERMOST_TEAM_ID') }}
BOT_TOKEN={{ lookup('env', 'MATTERMOST_BOT_TOKEN') }}
BOT_NAME={{ lookup('env', 'MATTERMOST_BOT_NAME') }}

# USED ONLY FOR BOARDS CREATION
# PROJECT_BOARD_TEMPLATE_ID={{ lookup('env', 'MATTERMOST_BOARD_TEMPLATE_ID') }}
# MATTERMOST_LOGIN_ID={{ lookup('env', 'MATTERMOST_USER_LOGIN') }}
# MATTERMOST_PASSWORD={{ lookup('env', 'MATTERMOST_USER_LOGIN') }}

# Authentik
AUTHENTIK_URL=https://authentik.{{ base_domain }}/
AUTHENTIK_TOKEN={{ lookup('env', 'AUTHENTIK_TOKEN') }}

# Outline
OUTLINE_URL=https://outline.{{ base_domain }}/
OUTLINE_TOKEN={{ lookup('env', 'OUTLINE_TOKEN') }}

# Brevo
BREVO_API_URL=https://api.brevo.com/v3
BREVO_API_KEY={{ lookup('env', 'BREVO_API_KEY') }}
BREVO_DEFAULT_SENDER_EMAIL=marty@dataforgood.fr
BREVO_DEFAULT_SENDER_NAME=Marty Bot
BREVO_AUTHENTIK_USERS_LIST_ID=64

# NoCoDB
NOCODB_URL=https://noco.{{ base_domain }}
NOCODB_TOKEN={{ lookup('env', 'NOCODB_TOKEN') }}

# Vaultwarden
VAULTWARDEN_ORGANIZATION_ID={{ lookup('env', 'VAULTWARDEN_ORGANIZATION_ID') }}
VAULTWARDEN_SERVER_URL=https://vaultwarden.{{ base_domain }}/
BW_PASSWORD={{ lookup('env', 'VAULTWARDEN_BW_PASSWORD') }}
VAULTWARDEN_API_USERNAME={{ lookup('env', 'VAULTWARDEN_API_USERNAME') }}
VAULTWARDEN_API_PASSWORD={{ lookup('env', 'VAULTWARDEN_API_PASSWORD') }}

DEBUG=false