---
- name: Initial configuration
  hosts: production_swarm_cluster_nodes
  remote_user: ubuntu
  become: true

  tasks:
    - import_role:
        name: roles/utilities/base-ubuntu
      tags:
        - base

- name: Create swarm workers
  hosts: production_swarm_cluster_nodes
  remote_user: root

  tasks:
    - import_role:
        name: roles/utilities/docker
      vars:
        use_swarm: true
        group_name: "production_swarm_cluster_nodes"
      tags:
        - docker
        - utils

- name: Create swarm applications
  hosts: production_swarm_cluster_nodes
  remote_user: root

  tasks:
    - import_role:
        name: roles/utilities/acme.sh
      vars:
        group_name: "production_swarm_cluster_nodes"
        domain_names:
          - "*.services.dataforgood.fr"
          - "dataforgood.fr"
          - "*.dataforgood.fr"
      tags:
        - acme
        - tls

    - import_role:
        name: roles/services/d4g-moodle
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - moodle
        - service

    - import_role:
        name: roles/services/d4g-outline
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - outline
        - service

    - import_role:
        name: roles/services/d4g-n8n
      vars:
        deploy_on: "metal-1.dataforgood.fr"
        replicas: 1
      tags:
        - n8n
        - service

    - import_role:
        name: roles/services/d4g-uptime-kuma
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - uptime-kuma
        - service

    - import_role:
        name: roles/services/d4g-vaultwarden
      vars:
        deploy_on: "metal-1.dataforgood.fr"
        replicas: 1
      tags:
        - vaultwarden
        - service

    - import_role:
        name: roles/services/d4g-strapi
      vars:
        deploy_on: "metal-1.dataforgood.fr"
        replicas: 1
      tags:
        - strapi
        - service

    - import_role:
        name: roles/services/d4g-website
      vars:
        stack_name: d4g-website
        docker_image_tag: latest
        replicas: 3
      tags:
        - d4g-website
        - service

    - import_role:
        name: roles/services/tousexposes
      tags:
        - tousexposes
        - service

    - import_role:
        name: roles/services/d4g-website
      vars:
        stack_name: d4g-website-staging
        docker_image_tag: staging
        replicas: 1
      tags:
        - d4g-website-staging
        - service

    - import_role:
        name: roles/services/d4g-noco
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - noco
        - service

    - import_role:
        name: roles/services/d4g-penpot
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - penpot
        - service

    - import_role:
        name: roles/services/collectif5050-metabase
      vars:
        deploy_on: "metal-1.dataforgood.fr"
        replicas: 1
      tags:
        - collectif5050
        - service

    - import_role:
        name: roles/services/oxfam-metabase
      vars:
        deploy_on: "metal-1.dataforgood.fr"
        replicas: 1
      tags:
        - oxfam
        - service

    - import_role:
        name: roles/services/d4g-plausible
      vars:
        deploy_on: "metal-1.dataforgood.fr"
        replicas: 1
      tags:
        - plausible
        - service

    - import_role:
        name: roles/services/d4g-mattermost
      vars:
        deploy_on: "metal-1.dataforgood.fr"
        replicas: 1
      tags:
        - mattermost
        - service

    - import_role:
        name: roles/services/d4g-authentik
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - authentik
        - service

    - import_role:
        name: roles/services/d4g-metabase
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - d4gmetabase
        - service

    - import_role:
        name: roles/services/us-climate-data-metabase
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - us-climate-data
        - service

    - import_role:
        name: roles/services/us-climate-data-dispatcher
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - us-climate-data
        - us-climate-data-dispatcher
        - service

    - import_role:
        name: roles/services/us-climate-data-priorizer
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - us-climate-data
        - us-climate-data-priorizer
        - service

    - import_role:
        name: roles/services/d4g-13-potentiel-solaire
      vars:
        deploy_on: "metal-1.dataforgood.fr"
        replicas: 1
      tags:
        - d4g-13-potentiel-solaire
        - service

    - import_role:
        name: roles/services/d4g-community-manager
      vars:
        deploy_on: "metal-1.dataforgood.fr"
        replicas: 1
      tags:
        - d4g-community-manager
        - service

    - import_role:
        name: roles/services/d4g-ghost
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - d4g-ghost
        - service

    - import_role:
        name: roles/services/d4g-decidim
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - d4g-decidim
        - service

    - import_role:
        name: roles/services/d4g-stalwart
      vars:
        deploy_on: "metal-2.dataforgood.fr"
        replicas: 1
      tags:
        - d4g-stalwart
        - service

    - import_role:
        name: roles/utilities/watchtower
      vars:
        watchtower_scope:
          - d4g-website_app
          - d4g-website-staging_app
      tags:
        - watchtower
        - utilities

    - import_role:
        name: roles/utilities/observability
      vars:
        group_name: production_swarm_cluster_nodes
        observability_cluster_name: d4g-production
        observability_environment: production
      tags:
        - observability
        - utils

    - import_role:
        name: roles/utilities/traefik
      vars:
        base_domain: services.dataforgood.fr
        services:
          - name: "vaultwarden"
            addresses: ["d4g-vaultwarden_app"]
          - name: "stalwart"
            addresses: ["d4g-stalwart_app:8080"]
          - name: "n8n"
            addresses: ["d4g-n8n_app"]
          - name: "uptime"
            addresses: ["d4g-uptime-kuma_app"]
          - name: "outline"
            addresses: ["d4g-outline_app"]
          - name: "moodle"
            addresses: ["d4g-moodle_app:8080"]
          - name: "strapi"
            addresses: ["d4g-strapi_app:1337"]
          - name: "website"
            addresses: ["d4g-website_app:3000"]
          - name: "website-staging"
            addresses: ["d4g-website-staging_app:3000"]
          - name: "website_new"
            addresses: ["d4g-website_app:3000"]
            override_name: "dataforgood.fr"
          - name: "noco"
            addresses: ["d4g-noco_app"]
          - name: "decidim"
            addresses: ["d4g-decidim_app:3000"]
          - name: "penpot"
            addresses: ["d4g-penpot_app:8080"]
          - name: "collectif5050"
            addresses: ["collectif5050-metabase_app:3000"]
          - name: "oxfam"
            addresses: ["oxfam-metabase_app:3000"]
          - name: "metabase"
            addresses: ["d4g-metabase_app:3001"]
          - name: "plausible"
            addresses: ["d4g-plausible_app"]
          - name: "mattermost"
            addresses: ["d4g-mattermost_app:8065"]
          - name: "authentik"
            addresses: ["d4g-authentik_app"]
          - name: "cartocampement"
            addresses: ["d4g-authentik_app"]
          - name: "us-climate-data"
            addresses: ["us-climate-data-metabase_app:3000"]
          - name: "us-climate-data-dispatcher"
            addresses: ["us-climate-data-dispatcher_app:8081"]
          - name: "us-climate-data-priorizer"
            addresses: ["us-climate-data-priorizer_app:8082"]
          - name: "d4g-13-potentiel-solaire"
            addresses: ["d4g-13-potentiel-solaire_app:3000"]
          - name: "ghost"
            addresses: ["d4g-ghost_app:2368"]
          - name: "grafana"
            addresses: ["observability_grafana:3000"]
          - name: "tousexposes"
            addresses: ["tousexposes_app:3000"]
        tcp_entrypoints:
          - name: stalwart-smtp
            port: 25
          - name: stalwart-smtps
            port: 465
          - name: stalwart-imaps
            port: 993
        # TODO: current traefik config for tcp service rules is HostSNI(`*`) and ignore provided `domain` ?
        tcp_services:
          - name: stalwart-smtp-service
            domain: stalwart.services.dataforgood.fr
            entrypoint: stalwart-smtp
            addresses:
              - "d4g-stalwart_app:25"
          - name: stalwart-smtps-service
            domain: stalwart.services.dataforgood.fr
            entrypoint: stalwart-smtps
            addresses:
              - "d4g-stalwart_app:465"
          - name: stalwart-imaps-service
            domain: stalwart.services.dataforgood.fr
            entrypoint: stalwart-imaps
            addresses:
              - "d4g-stalwart_app:993"
      tags:
        - proxy
        - traefik
        - service
