---
- name: Initial configuration
  hosts: staging_swarm_cluster_nodes
  remote_user: ubuntu
  become: true

  tasks:
    - import_role:
        name: roles/utilities/base-ubuntu
      vars:
        d4gctl_environment: staging
      tags:
        - base

- name: Create swarm workers
  hosts: staging_swarm_cluster_nodes
  remote_user: root

  tasks:
    - import_role:
        name: roles/utilities/docker
      vars:
        use_swarm: true
        group_name: "staging_swarm_cluster_nodes"
      tags:
        - docker
        - utils

- name: Create swarm applications
  hosts: staging_swarm_cluster_nodes
  remote_user: root

  vars:
    # Staging environment overrides
    base_domain: services.d4g.fr
    backup_s3_bucket: poletech-backups-staging
    loki_s3_bucket: poletech-logs-staging
    outline_s3_bucket: outline-uploads-staging
    authentik_s3_bucket: authentik-uploads-staging


  tasks:
    - import_role:
        name: roles/utilities/acme.sh
      vars:
        group_name: "staging_swarm_cluster_nodes"
        domain_names:
          - "*.services.d4g.fr"
          - "d4g.fr"
          - "*.d4g.fr"
      tags:
        - acme
        - tls

    - import_role:
        name: roles/services/shared-postgresql
      vars:
        deploy_on: "d4g-staging-01.d4g.fr"
        postgres_root_password: "{{ lookup('env', 'POSTGRES_ROOT_PASSWORD') }}"
        observability_password: "{{ lookup('env', 'POSTGRES_OBSERVABILITY_PASSWORD') }}"
        databases:
          - db: outline
            user: outline
            password: "{{ lookup('env', 'OUTLINE_DB_PASSWORD') }}"
          - db: mattermost
            user: mattermost
            password: "{{ lookup('env', 'MATTERMOST_DB_PASSWORD') }}"
          - db: authentik
            user: authentik
            password: "{{ lookup('env', 'AUTHENTIK_DB_PASSWORD') }}"
      tags:
        - postgresql
        - database
        - service

    - import_role:
        name: roles/services/d4g-outline
      vars:
        deploy_on: "d4g-staging-01.d4g.fr"
        replicas: 1
      tags:
        - outline
        - service

    - import_role:
        name: roles/services/d4g-mattermost
      vars:
        deploy_on: "d4g-staging-01.d4g.fr"
        replicas: 1
      tags:
        - mattermost
        - service

    - import_role:
        name: roles/services/d4g-authentik
      vars:
        deploy_on: "d4g-staging-01.d4g.fr"
        replicas: 1
      tags:
        - authentik
        - service

    - import_role:
        name: roles/services/d4g-community-manager
      vars:
        deploy_on: "d4g-staging-01.d4g.fr"
        replicas: 1
      tags:
        - d4g-community-manager
        - service

    - import_role:
        name: roles/utilities/observability
      vars:
        group_name: staging_swarm_cluster_nodes
        observability_cluster_name: d4g-staging
        observability_environment: staging
      tags:
        - observability
        - utils

    - import_role:
        name: roles/utilities/traefik
      vars:
        services:
          - name: "outline"
            addresses: ["d4g-outline_app"]
          - name: "authentik"
            addresses: ["d4g-authentik_app"]
          - name: "mattermost"
            addresses: ["d4g-mattermost_app:8065"]
          - name: "grafana"
            addresses: ["observability_grafana:3000"]
      tags:
        - proxy
        - traefik
        - service
