services:
  app:
    image: "penpotapp/frontend:latest"
    restart: always
    env_file: './penpot.env'
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  backend:
    image: "penpotapp/backend:latest"
    env_file: './penpot.env'
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  exporter:
    image: "penpotapp/exporter:latest"
    networks:
      - d4g-internal
    environment:
      # Use swarm d4g-internal network for communication between services, not public internet
      PENPOT_PUBLIC_URI: http://d4g-penpot_frontend:8080
      # Redis is used for the websockets notifications.
      PENPOT_REDIS_URI: redis://d4g-penpot_redis/0
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

  redis:
    image: redis:7.2
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}
    networks:
      - d4g-internal

networks:
  d4g-internal:
    external: true
