# Watchtower Configuration
WATCHTOWER_CLEANUP=true
WATCHTOWER_INCLUDE_STOPPED=false
WATCHTOWER_INCLUDE_RESTARTING=true
WATCHTOWER_REVIVE_STOPPED=false
WATCHTOWER_POLL_INTERVAL=60
WATCHTOWER_REMOVE_VOLUMES=false

# Slack Notifications
WATCHTOWER_NOTIFICATIONS=slack
WATCHTOWER_NOTIFICATION_SLACK_HOOK_URL={{ lookup('env', 'SLACK_WEBHOOK_ENDPOINT') }}
WATCHTOWER_NOTIFICATION_SLACK_IDENTIFIER={{ watchtower_slack_identifier | default('Watchtower') }}

{% if watchtower_label_enable | default(false) %}
WATCHTOWER_LABEL_ENABLE=true
{% endif %}

{% if watchtower_scope | length > 0 %}
WATCHTOWER_SCOPE={{ watchtower_scope | join(' ') }}
{% endif %}
