services:
  app:
    image: ghcr.io/dataforgoodfr/dataforgoodfr.github.io-frontend:latest
    env_file: './website.env'
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}
      placement:
        constraints:
          - node.hostname == {{ deploy_on }}

networks:
  d4g-internal:
    external: true
