services:
  app:
    image: ghcr.io/dataforgoodfr/website-frontend:{{ docker_image_tag | default('latest') }}
    env_file: './website.env'
    networks:
      - d4g-internal
    deploy:
      replicas: {{ replicas }}

networks:
  d4g-internal:
    external: true
