#!/usr/bin/env bash

NODE_ENV=production
STRAPI_API_URL={{ lookup('env', 'STRAPI_API_URL') }}
STRAPI_API_TOKEN={{ lookup('env', 'STRAPI_API_TOKEN') }}
NEXT_PUBLIC_BREVO_API_KEY={{ lookup('env', 'STRAPI_NEXT_PUBLIC_BREVO_API_KEY') }}
